html {
  height: 100%;
}

body {
  background-color: hsl(30, 38%, 92%);
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
}

main {
  display: flex;
  background-color: white;
  border-radius: 10px;
}

h1 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 13.5px;
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;
  letter-spacing: 4px;
}

h2 {
  font-family: Fraunces;
  font-weight: 700;
  font-size: 32px;
  color: hsl(212, 21%, 14%);
  width: 100%;
  margin: 0px;
}
p {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 13.5px;
  color: hsl(228, 12%, 48%);
  line-height: 1.7em;
  text-align: start;
}

span {
  text-transform: uppercase;
}

button {
  background-color: hsl(158, 36%, 37%);
  font-family: Montserrat;
  font-size: 13.5px;
  color: white;
  border: none;
  height: 48px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button:active {
  background-color: hsl(158, 32%, 25%);
}

.price {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.before {
  font-family: Montserrat;
  font-size: 13.5px;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

.after {
  font-family: Fraunces;
  font-size: 32px;
  color: hsl(158, 36%, 37%);
}

.mobile,
.desktop {
  display: none;
}

@media only screen and (max-width: 375px) {
  .mobile {
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  main {
    flex-direction: column;
    align-items: center;
    height: 620px;
  }

  button {
    margin-top: 15px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-content: center;

    width: 88%;
    margin-top: 15px;
    margin-bottom: 15 px;
    height: 100%;
  }
}

@media only screen and (min-width: 376px) and (max-width: 1440px) {
  .desktop {
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50%;
  }

  body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    width: 620px;
    height: 480px;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 25px;
  }
}

@media only screen and (min-width: 1441px) {
  .desktop {
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50%;
  }
  body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    width: 620px;
    height: 480px;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    padding: 25px;
  }
}
